<!DOCTYPE html>
<html>
<head>
  <title>CouchyAgile</title>
  <%= stylesheet_link_tag :all,:recursive => true %>
  <%= javascript_include_tag 'jquery-1.5.1','application','underscore','backbone','jquery-ui-1.8.10.custom.min','util/jquery-extras','util/jquery.periodicalupdater','util/jquery.contextMenu' %>
  <%= javascript_include_tag 'BackboneRoot','util/eventHandler','views/column','views/panel', 'models/chat','models/task','collections/chatCollection','views/mainChatView','views/chatView','views/chatPanel','views/card','views/main' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
